#header-left, #header-right, #footer-left, #footer-right {
  position: absolute;
  z-index: 10;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

#header-left {
  top: 0;
  left: 0;
}

#header-right {
  top: 0;
  right: 0;
}

#footer-left {
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#footer-left a {
  color: #fff;
  text-decoration: none;
}

#footer-right {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#footer-right .page-number {
  color: #fff;
}

.reveal h1 {
  font-size: 32pt;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  white-space: nowrap; /* Prevent title from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

.reveal h2 {
  font-size: 1.8em;
}

.reveal p, .reveal li {
  font-size: 1.2em;
}

.reveal .author {
  font-size: 18pt;
}

.reveal .date {
  font-size: 14pt;
}

.two-column-layout {
  display: flex;
  width: 100%;
  min-height: 65vh;
  align-items: top;
}

.left-column, .right-column {
  padding: 20px;
  overflow-y: auto;
}

.left-column {
  flex: 2;
  font-size: 18pt;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.left-column li {
  white-space: nowrap; /* Prevent bulleted text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflowing text */
  list-style-type: disc; /* Explicitly show bullet points */
  list-style-position: inside; /* Ensure bullets are inside the content box */
}

.right-column {
  flex: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  overflow:none;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.reveal .slides {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.reveal .slides section,
.reveal .slides section .two-column-layout {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.reveal {
  padding-top: 80px;
  padding-bottom: 80px;
}
